################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/Properties
/appsettings.Development.json
/ReportJobRunner.csproj.user
/bin/Debug/net8.0
